In [1]:
import pandas as pd
import numpy as np

In [3]:
excel_paises = pd.read_excel(r"C:\Users\07cas\OneDrive\Documentos\GitHub\Paises\Paises\Country.xlsx")

In [4]:
excel_paises

,Country Code,ShortName,TableName,LongName,Alpha2Code,CurrencyUnit,SpecialNotes,Region,IncomeGroup,Wb2Code,...,GovernmentAccountingConcept,ImfDataDisseminationStandard,LatestPopulationCensus,LatestHouseholdSurvey,SourceOfMostRecentIncomeAndExpenditureData,VitalRegistrationComplete,LatestAgriculturalCensus,LatestIndustrialData,LatestTradeData,LatestWaterWithdrawalData
0,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2013.0,2000.0
1,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,Budgetary central government,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2011.0,2013.0,2006.0
2,DZA,Algeria,Algeria,People's Democratic Republic of Algeria,DZ,Algerian dinar,NaN,Middle East & North Africa,Upper middle income,DZ,...,Budgetary central government,General Data Dissemination System (GDDS),2008,"Multiple Indicator Cluster Survey (MICS), 2012","Integrated household survey (IHS), 1995",NaN,NaN,2010.0,2013.0,2001.0
3,ASM,American Samoa,American Samoa,American Samoa,AS,U.S. dollar,NaN,East Asia & Pacific,Upper middle income,AS,...,NaN,NaN,2010,NaN,NaN,Yes,2007,NaN,NaN,NaN
4,ADO,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD,AD,...,NaN,NaN,2011. Population data compiled from administra...,NaN,NaN,Yes,NaN,NaN,2006.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,WBG,West Bank and Gaza,West Bank and Gaza,West Bank and Gaza,PS,Israeli new shekel,The new base year is 2004.,Middle East & North Africa,Lower middle income,GZ,...,Budgetary central government,Special Data Dissemination Standard (SDDS),2007,"Multiple Indicator Cluster Survey (MICS), 2014","Integrated household survey (IHS), 2011",NaN,NaN,2010.0,NaN,2005.0
243,WLD,World,World,World,1W,NaN,World aggregate.,NaN,NaN,1W,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,YEM,Yemen,"Yemen, Rep.",Republic of Yemen,YE,Yemeni rial,Based on official government statistics and In...,Middle East & North Africa,Lower middle income,RY,...,Budgetary central government,General Data Dissemination System (GDDS),2004,"Demographic and Health Survey (DHS), 2013","Expenditure survey/budget survey (ES/BS), 2005",NaN,NaN,2009.0,2013.0,2005.0
245,ZMB,Zambia,Zambia,Republic of Zambia,ZM,New Zambian kwacha,The new base year is 2010. National accounts d...,Sub-Saharan Africa,Lower middle income,ZM,...,Budgetary central government,General Data Dissemination System (GDDS),2010,"Demographic and Health Survey (DHS), 2013/14","Integrated household survey (IHS), 2010",NaN,2010. Population and Housing Census.,NaN,2013.0,2002.0
246,ZWE,Zimbabwe,Zimbabwe,Republic of Zimbabwe,ZW,U.S. dollar,Fiscal year end: June 30; reporting period for...,Sub-Saharan Africa,Low income,ZW,...,Consolidated central government,General Data Dissemination System (GDDS),2012,"Multiple Indicator Cluster Survey (MICS), 2014","Integrated household survey (IHS), 2011/12",NaN,NaN,NaN,2013.0,2002.0

In [5]:
excel_paises2 = pd.read_excel(r"C:\Users\07cas\OneDrive\Documentos\GitHub\Paises\Paises\unemployment analysis.xlsx")

In [6]:
excel_paises2

,Country Name,Country Code,1991,1992,1993,1994,1995,1996,1997,1998,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Africa Eastern and Southern,AFE,7.80,7.84,7.85,7.84,7.83,7.84,7.86,7.81,...,6.56,6.45,6.41,6.49,6.61,6.71,6.73,6.91,7.56,8.11
1,Afghanistan,AFG,10.65,10.82,10.72,10.73,11.18,10.96,10.78,10.80,...,11.34,11.19,11.14,11.13,11.16,11.18,11.15,11.22,11.71,13.28
2,Africa Western and Central,AFW,4.42,4.53,4.55,4.54,4.53,4.57,4.60,4.66,...,4.64,4.41,4.69,4.63,5.57,6.02,6.04,6.06,6.77,6.84
3,Angola,AGO,4.21,4.21,4.23,4.16,4.11,4.10,4.09,4.07,...,7.35,7.37,7.37,7.39,7.41,7.41,7.42,7.42,8.33,8.53
4,Albania,ALB,10.31,30.01,25.26,20.84,14.61,13.93,16.88,20.05,...,13.38,15.87,18.05,17.19,15.42,13.62,12.30,11.47,13.33,11.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,Samoa,WSM,2.10,2.38,2.63,3.04,3.19,3.47,3.90,4.18,...,8.75,8.67,8.72,8.50,8.31,8.58,8.69,8.41,9.15,9.84
231,"Yemen, Rep.",YEM,8.32,8.31,8.35,8.34,8.96,9.59,10.20,10.81,...,13.17,13.27,13.47,13.77,13.43,13.30,13.15,13.06,13.39,13.57
232,South Africa,ZAF,29.95,29.98,29.92,29.89,29.89,29.87,29.91,29.95,...,24.73,24.56,24.89,25.15,26.54,27.04,26.91,28.47,29.22,33.56
233,Zambia,ZMB,18.90,19.37,19.70,18.43,16.81,15.30,13.64,12.00,...,7.85,8.61,9.36,10.13,10.87,11.63,12.01,12.52,12.85,13.03
234,Zimbabwe,ZWE,4.94,4.99,4.97,4.96,5.63,6.25,6.93,6.46,...,5.15,4.98,4.77,4.78,4.79,4.78,4.80,4.83,5.35,5.17

In [7]:
#[ : , : ] a la derecha opera con and or entre otros y a la derecha puede agarrar cualquier columna
dftemp = excel_paises2.loc[ : , ["Country Name","Country Code",1991] ]

In [8]:
dftemp["Year"] = 1991

In [9]:
dftemp.columns = ['Country Name', 'Country Code', 'Value', 'Year']

In [10]:
dftemp.loc[ : , ['Country Name', 'Country Code', 'Year', 'Value'] ]

                    Country Name Country Code  Year  Value
0    Africa Eastern and Southern          AFE  1991   7.80
1                    Afghanistan          AFG  1991  10.65
2     Africa Western and Central          AFW  1991   4.42
3                         Angola          AGO  1991   4.21
4                        Albania          ALB  1991  10.31
..                           ...          ...   ...    ...
230                        Samoa          WSM  1991   2.10
231                  Yemen, Rep.          YEM  1991   8.32
232                 South Africa          ZAF  1991  29.95
233                       Zambia          ZMB  1991  18.90
234                     Zimbabwe          ZWE  1991   4.94

[235 rows x 4 columns]

In [11]:
dftemp

                    Country Name Country Code  Value  Year
0    Africa Eastern and Southern          AFE   7.80  1991
1                    Afghanistan          AFG  10.65  1991
2     Africa Western and Central          AFW   4.42  1991
3                         Angola          AGO   4.21  1991
4                        Albania          ALB  10.31  1991
..                           ...          ...    ...   ...
230                        Samoa          WSM   2.10  1991
231                  Yemen, Rep.          YEM   8.32  1991
232                 South Africa          ZAF  29.95  1991
233                       Zambia          ZMB  18.90  1991
234                     Zimbabwe          ZWE   4.94  1991

[235 rows x 4 columns]

In [12]:
dfnew = pd.DataFrame()
for y in excel_paises2.columns[ 2: ]:
    dftemp = excel_paises2.loc[ : , ["Country Name","Country Code",y] ]
    dftemp["Year"] = y
    dftemp.columns = ['Country Name', 'Country Code', 'Value', 'Year']
    dftemp.loc[ : , ['Country Name', 'Country Code', 'Year', 'Value'] ]

    dfnew = pd.concat([dfnew,dftemp])

In [13]:
dfnew

                    Country Name Country Code  Value  Year
0    Africa Eastern and Southern          AFE   7.80  1991
1                    Afghanistan          AFG  10.65  1991
2     Africa Western and Central          AFW   4.42  1991
3                         Angola          AGO   4.21  1991
4                        Albania          ALB  10.31  1991
..                           ...          ...    ...   ...
230                        Samoa          WSM   9.84  2021
231                  Yemen, Rep.          YEM  13.57  2021
232                 South Africa          ZAF  33.56  2021
233                       Zambia          ZMB  13.03  2021
234                     Zimbabwe          ZWE   5.17  2021

[7285 rows x 4 columns]

In [14]:
excel_paises2.columns

Index(['Country Name', 'Country Code',           1991,           1992,
                 1993,           1994,           1995,           1996,
                 1997,           1998,           1999,           2000,
                 2001,           2002,           2003,           2004,
                 2005,           2006,           2007,           2008,
                 2009,           2010,           2011,           2012,
                 2013,           2014,           2015,           2016,
                 2017,           2018,           2019,           2020,
                 2021],
      dtype='object')

In [15]:
merged=dfnew.merge(excel_paises, on=['Country Code'], suffixes=('_left','_right'))

In [16]:
merged

,Country Name,Country Code,Value,Year,ShortName,TableName,LongName,Alpha2Code,CurrencyUnit,SpecialNotes,...,GovernmentAccountingConcept,ImfDataDisseminationStandard,LatestPopulationCensus,LatestHouseholdSurvey,SourceOfMostRecentIncomeAndExpenditureData,VitalRegistrationComplete,LatestAgriculturalCensus,LatestIndustrialData,LatestTradeData,LatestWaterWithdrawalData
0,Afghanistan,AFG,10.65,1991,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,...,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2013.0,2000.0
1,Afghanistan,AFG,10.82,1992,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,...,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2013.0,2000.0
2,Afghanistan,AFG,10.72,1993,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,...,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2013.0,2000.0
3,Afghanistan,AFG,10.73,1994,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,...,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2013.0,2000.0
4,Afghanistan,AFG,11.18,1995,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,...,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2013.0,2000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6629,Zimbabwe,ZWE,4.78,2017,Zimbabwe,Zimbabwe,Republic of Zimbabwe,ZW,U.S. dollar,Fiscal year end: June 30; reporting period for...,...,Consolidated central government,General Data Dissemination System (GDDS),2012,"Multiple Indicator Cluster Survey (MICS), 2014","Integrated household survey (IHS), 2011/12",NaN,NaN,NaN,2013.0,2002.0
6630,Zimbabwe,ZWE,4.80,2018,Zimbabwe,Zimbabwe,Republic of Zimbabwe,ZW,U.S. dollar,Fiscal year end: June 30; reporting period for...,...,Consolidated central government,General Data Dissemination System (GDDS),2012,"Multiple Indicator Cluster Survey (MICS), 2014","Integrated household survey (IHS), 2011/12",NaN,NaN,NaN,2013.0,2002.0
6631,Zimbabwe,ZWE,4.83,2019,Zimbabwe,Zimbabwe,Republic of Zimbabwe,ZW,U.S. dollar,Fiscal year end: June 30; reporting period for...,...,Consolidated central government,General Data Dissemination System (GDDS),2012,"Multiple Indicator Cluster Survey (MICS), 2014","Integrated household survey (IHS), 2011/12",NaN,NaN,NaN,2013.0,2002.0
6632,Zimbabwe,ZWE,5.35,2020,Zimbabwe,Zimbabwe,Republic of Zimbabwe,ZW,U.S. dollar,Fiscal year end: June 30; reporting period for...,...,Consolidated central government,General Data Dissemination System (GDDS),2012,"Multiple Indicator Cluster Survey (MICS), 2014","Integrated household survey (IHS), 2011/12",NaN,NaN,NaN,2013.0,2002.0
6633,Zimbabwe,ZWE,5.17,2021,Zimbabwe,Zimbabwe,Republic of Zimbabwe,ZW,U.S. dollar,Fiscal year end: June 30; reporting period for...,...,Consolidated central government,General Data Dissemination System (GDDS),2012,"Multiple Indicator Cluster Survey (MICS), 2014","Integrated household survey (IHS), 2011/12",NaN,NaN,NaN,2013.0,2002.0

In [17]:
dfmerged = merged.loc[ : , ["Country Name","Country Code","CurrencyUnit","Region"] ]

In [18]:
dfmerged

     Country Name Country Code    CurrencyUnit              Region
0     Afghanistan          AFG  Afghan afghani          South Asia
1     Afghanistan          AFG  Afghan afghani          South Asia
2     Afghanistan          AFG  Afghan afghani          South Asia
3     Afghanistan          AFG  Afghan afghani          South Asia
4     Afghanistan          AFG  Afghan afghani          South Asia
...           ...          ...             ...                 ...
6629     Zimbabwe          ZWE     U.S. dollar  Sub-Saharan Africa
6630     Zimbabwe          ZWE     U.S. dollar  Sub-Saharan Africa
6631     Zimbabwe          ZWE     U.S. dollar  Sub-Saharan Africa
6632     Zimbabwe          ZWE     U.S. dollar  Sub-Saharan Africa
6633     Zimbabwe          ZWE     U.S. dollar  Sub-Saharan Africa

[6634 rows x 4 columns]